/* .main-footer {
    position: fixed;
    bottom:0px;
    width:100%;
} */

button {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}

.content-wrapper, .right-side {
    min-height: calc(100vh - 50px); /* 100% da altura da tela menos a altura do footer */
    background-color: #ecf0f5;
    z-index: 800;
}
